# Ignore node_modules directory
node_modules/

# Ignore compiled TypeScript files
/dist/

# Ignore any .env files containing sensitive information
.env

# Ignore any logs or temporary files
*.log
*.tmp
